*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
_trial*
res/config/ionlocal.config
res/logging/loglevelslocal.cfg
lcaarch.egg-info
.pydevproject
.project
# ignore any compiled stuff!
*.java
*.class
*.py

######################
# Compilation directories
######################
# src dir is a compilation directory in this project...
src
lib
build
docs
dist
ivy-report
output
MANIFEST.MF

######################################
# Transient settings sub-directories #
######################################
.settings/ivy-cache
ivy-report
.settings/override-repo
